{% extends 'ferreteriaZambranoBundle::layout.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/ferreteriaZambrano/css/tablas_indice.css') }}" type="text/css" media="all" />
{% endblock %}
    
{% block content %}
    <h1>Crear Articulo</h1>

    <form action="{{ path('articulo_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <p>
            <button class="agregar" type="submit">Crear</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('articulo') }}" class="agregar">
            Regresar
        </a>
    </li>
</ul>
{% endblock %}
