{% extends 'ferreteriaZambranoBundle::layout.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/ferreteriaZambrano/css/tablas_indice.css') }}" type="text/css" media="all" />
{% endblock %}
    
{% block content %}
    <h1>Articulo</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Marca</th>
                <td>{{ entity.marca }}</td>
            </tr>
            <tr>
                <th>Preciocompra</th>
                <td>{{ entity.precioCompra }}</td>
            </tr>
            <tr>
                <th>Precionventa</th>
                <td>{{ entity.precionVenta }}</td>
            </tr>
            <tr>
                <th>Cantidad</th>
                <td>{{ entity.cantidad }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('articulo') }}" class="agregar">
            Regresar
        </a>
    </li>
    <li>
        <a href="{{ path('articulo_edit', { 'id': entity.id }) }}" class="agregar">
            Editar
        </a>
    </li>
    <li>
        <form action="{{ path('articulo_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE" />
            {{ form_widget(delete_form) }}
            <button class="agregar" type="submit">Eliminar</button>
        </form>
    </li>
</ul>
{% endblock %}
