{% extends 'ferreteriaZambranoBundle::layout.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('bundles/ferreteriaZambrano/css/tablas_indice.css') }}" type="text/css" media="all" />
{% endblock %}
    
{% block content %}
    <h1>Ventas creation</h1>

    <form action="{{ path('ventas_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}

        <p>
            <button type="submit">Create</button>
        </p>
    </form>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ventas') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
